<h1><%= @figure.name %></h1>
<a href="/figures/<%=@figure.id%>/edit">Edit</a>
<h2>Titles:</h2>
<% @figure.titles.each do |title| %>
	<p><%= title.name %></p>
<% end %>

<h2>Landmarks:</h2>
<% @figure.landmarks.each do |landmark| %>
	<p>
	<a href="/landmarks/<%= landmark.id %>"><%= landmark.name %></a>
	</p>
<% end %>


<form action="/figures/<%= @figure.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete figure">
</form>	